* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

.button-group  {
display: flex;
}

.container {
margin: 30px auto;
width: 450px;
}

h1 {
  display: flex;
  justify-content: center;
}

